/node_modules
/dist
/temporal-data
/.temporal
/output
*.log
bin/
obj/
*.user
.vs/
.idea/
.vscode/
unity-sample/Library/
unity-sample/Temp/
unity-sample/Logs/
unity-sample/UserSettings/
unity-sample/Assets/Textures/
unity-sample/Assets/Textures.meta
unity-sample/Assets/Audio/
unity-sample/Assets/Audio.meta
unity-sample/Assets/Models/
unity-sample/Assets/Models.meta
unity-sample/Assets/Materials/
unity-sample/Assets/Materials.meta
unity-sample/Assets/Animations/
unity-sample/Assets/Animations.meta
unity-sample/Assets/Prefabs/
unity-sample/Assets/Prefabs.meta
unity-sample/*.csproj
unity-sample/*.sln
unity-sample/.utmp/*
